# --- Maven Compiled Output ---
target/
*.jar
*.war
*.ear

# --- IDE Settings & Meta-files ---
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings/
.factorypath

# VS Code
.vscode/

# --- Operating System Artifacts ---
.DS_Store
Thumbs.db
